<div class="me">
  <p>
    <img src="{{ "/assets/me.jpeg" | relative_url }}" class="img-round me-img" />
  </p>
  <p>
    Ruby on Rails, JavaScript developer
  </p>

  <ul class="social-media-list">
    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}

    {% if site.email %}
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {% endif %}
  </ul>
</div>
