html {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 18px;
}

article p {
    margin: 1.5em 0;
}

header nav a {
    margin-left: 1em;
}

article header h1 {
    line-height: 1.5em;
    font-family: 'Montserrat';
}

article.post-list header h1 a {
    color: #555;
}

.icon > img {
    height: 1em;
    display: inline;
    margin: 0;
}

img.rounded {
    border-radius: 50%;
    border: 1px ridge #333;
}

img.profile {
    background-color: #c1a2ae;
}

.homepage-content {
    text-align: center;
}

.site-header a {
    color: #a31d1d;
    font-family: 'Montserrat';
    font-weight: 600;
}