
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

p {
    padding-bottom: 1em;
    padding-top: .5em;
}

a.icon img {
    height: 1em;
    display: inline;
    margin: 0;
}

.about-me__badges {
    display: flex;
}

.about-me__badges > * {
    margin: .5em;
}

.content > p > img {
    max-width: 80%;
}