---
layout: default
---

<div class="home">

  {{ content }}

  <div class="grid">
    <div class="col-2-3">
      <h1>Posts</h1>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <div>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </div>
            <div>
              <span class="post-meta">{{ post.categories | join: ', ' }}</span>
            </div>

            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}#disqus_thread">{{ post.title | escape }}</a>
            </h2>
            <p>
              {{ post.excerpt }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-1-3">
      {% include me.html %}
      <a class="twitter-timeline" data-height="700" href="https://twitter.com/mpasierbski">Tweets by mpasierbski</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

<script id="dsq-count-scr" src="//mpasierbski-blog.disqus.com/count.js" async></script>
